:root {
  --PrimaryColor: #001d3d;
  --SeconderyColor: #003566;
  --AccentColor: #ffc300;
  --Black: #000;
  --white: #fff;
}

body {
  height: 100vh;
  background-color: var(--PrimaryColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  width: 100%;
  height: 100%;
  margin: 10px;
  color: var(--AccentColor);
  text-align: center;
}
section {
  border-radius: 10px;
  width: 50%;
  background-color: var(--SeconderyColor);
}

h4 {
  font-weight: bolder;
}

.quiz-header {
  color: var(--SeconderyColor);
  background-color: var(--AccentColor);
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 40px;
}

.question-text {
  color: var(--white);
  text-align: center;
  font-size: 1.2em;
}

.question-options {
  color: var(--SeconderyColor);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.answer {
  display: none;
}

section ul {
  width: 60%;
  list-style: none;
  display: flex;
  padding: 10px 0px 10px 0px;
  justify-content: center;
}

li {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  border: 1px solid var(--AccentColor);
  background-color: var(--AccentColor);
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
}

label {
  padding: 10px;
  width: 100%;
  text-align: center;
}

button {
  width: 100%;
  height: 100%;
  background-color: var(--AccentColor);
  border: 1px solid var(--SeconderyColor);
  color: var(--SeconderyColor);
  display: block;
  cursor: pointer;
  padding: 10px;
  border-radius: 0px 0px 10px 10px;
  margin-top: 10px;
}
.answer:hover {
  background-color: var(--PrimaryColor);
  color: var(--white);
}
li:hover {
  background-color: var(--PrimaryColor);
  color: var(--white);
  border: 1px solid var(--AccentColor);
}

#score-container {
  width: 20%;
  height: max-content;
  background-color: var(--SeconderyColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
